<div>
  <mat-grid-list [cols]="columns">
    <mat-grid-tile
      *ngFor="let resource of (resources$ | async)"
      colspan="1"
      rowspan="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title [class.clickable]="clickable" (click)="elementSelected(resource)">
            {{resource.name}}
          </mat-card-title>
        </mat-card-header>
        <div id="image-wrapper">
          <img (click)="elementSelected(resource)"
               [class.clickable]="clickable"
               [src]="resource.imageURL"
               alt="resource_image">
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
