audio {
  display: none;
}

#player_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

mat-slider {
  visibility: hidden;
  @media (max-width: 600px) {
    display: none;
  }
}

.visible {
  visibility: visible;
  animation-name: slide-in;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
