<app-search title="Recherche d'album" (submitted)="rechercherAlbum($event)">
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let album of albums">
      <mat-card>
        <mat-card-header>
          <mat-card-title><a [routerLink]="['/album', album.id]">{{album.name}}</a></mat-card-title>
          <mat-card-subtitle>{{album.artists[0].name}}</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="album.imageURL" mat-card-lg-image [src]="album.imageURL" alt="Cover">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</app-search>
