<mat-card>
  <mat-card-header>
    <mat-card-title>{{(album | async)?.name}}</mat-card-title>
    <mat-card-subtitle>{{(album | async)?.artists[0].name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{(album | async)?.imageURL}}" alt="Cover">
  <mat-card-content>
    <ol>
      <li *ngFor="let track of (album | async)?.tracks">
        {{track.title}} - ({{track.duration}})
        <div *ngIf="track.url">
          <audio controls [src]="track.url">Pas supporte</audio>
        </div>
      </li>
    </ol>
  </mat-card-content>
</mat-card>
