<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  Spotify client
</mat-toolbar>

<div id="app-wrapper">
  <mat-drawer-container>
    <mat-drawer [mode]="isMobile.matches ? 'over' : 'side' " #drawer>
      <mat-list>
        <app-menu-item title="Accueil" icon="home" routerLink="" [selectedTitle]="selectedItemTitle">
        </app-menu-item>
        <app-menu-item title="Albums" icon="album" routerLink="albums" [selectedTitle]="selectedItemTitle">
        </app-menu-item>
        <app-menu-item title="Artistes" icon="person" routerLink="artists" [selectedTitle]="selectedItemTitle">
        </app-menu-item>
        <app-menu-item title="Playlists" icon="playlist_play" routerLink="playlists"
                       [selectedTitle]="selectedItemTitle">
        </app-menu-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      <app-loading></app-loading>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
