$toolbar-height: 64px;
$loading-bar-height: 4px;

mat-drawer-container {
  background-color: white;
}

mat-drawer {
  width: 150px;
}

mat-drawer-content {
  height: calc(100vh - #{$toolbar-height} - #{$loading-bar-height});
}

