mat-card {
  width: 90%;
  margin: auto;
}


#playlist-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    margin: auto auto 2%;
    display: block;
    width: 200px;
  }

  h3 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    font-weight: 500;
  }
}

table {
  width: 100%;
  margin: auto;
}

