mat-card {
  width: 80%;
  margin: auto;
}

table {
  width: 100%;
}

.album-card-header {
  display: flex;

  img {
    width: 20%;
    height: auto;
    align-self: center;
  }

  .album-info {

    h3 {
      font-size: 2em;
      margin-bottom: 5px;
    }

    p {
      font-size: 1.2em;
      font-weight: 300;
      margin-top: 0;
    }

    margin-left: 30px;
  }
}
