<mat-card>
  <div class="album-card-header">
    <img [src]="album.imageURL" alt="album_art">
    <div class="album-info">
      <h3>{{album.name}}</h3>
      <p>{{album.artists?.join(', ')}}</p>
    </div>
  </div>
  <mat-card-content>
    <table mat-table [dataSource]="tracks">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Titre</th>
        <td mat-cell *matCellDef="let track">
          {{track.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="artists">
        <th mat-header-cell *matHeaderCellDef>Artistes</th>
        <td mat-cell *matCellDef="let track">
          {{ track.artists.join(', ') }}
        </td>
      </ng-container>

      <ng-container matColumnDef="extract">
        <th mat-header-cell *matHeaderCellDef>Extrait</th>
        <td mat-cell *matCellDef="let track">
          <audio *ngIf="track.url" controls>
            <source [src]="track.url"/>
          </audio>
        </td>
      </ng-container>

      <ng-container matColumnDef="add_to_playlist">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let track">
          <button mat-icon-button (click)="addToPlaylist(track)">
            <mat-icon>
              playlist_add
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let rowData; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>

