/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  margin-top: 2% !important;
  font-size: 3.5em !important;
  text-align: center;
}

.app-search-wrapper {
  border-radius: 5px;
  width: 350px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

